#about {
  padding: 5rem 0;
}

#about h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

#about h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#about p {
  margin-bottom: 1rem;
}

#about .about-content {
  display: flex;
}

#about .about-text {
  text-align: justify;
}

#about .about-image img {
  display: block;
  margin-left: 120px;
  width: 90%;
  height: 65%;
  border-radius: 40%;
  margin-top: 110px;
}
